# Diretórios de IDEs
.idea/
.vscode/
# ========================
# BACKEND - Java / Maven
# ========================
target/
*.class
*.jar
*.war
*.ear
*.log
*.db
*.env
*.iml
*.ipr
*.iws
.idea/
senha email app.txt

# ========================
# FRONTEND - Node.js / Vite / React
# ========================
node_modules/
dist/
build/
.vite/
.vscode/
.env.local
.env.development
.env.production
*.lock

# ========================
# SISTEMA OPERACIONAL
# ========================
.DS_Store
Thumbs.db

# ========================
# TEMPORÁRIOS / BACKUP
# ========================
*~
*.bak
*.tmp
~$*
*.docx~
